doctype html
head
  link(rel="stylesheet" href="/css/main.css")
body
  h1 Welcome to Rooms
  button(onclick="window.location.href='/user'") Click here to get started!
  button(onclick="window.location.href='/rr'") Click here for free money!
  