doctype html
head
  link(rel="stylesheet" href="/css/account_form.css")
  link(rel="stylesheet" href="/css/main.css")
body
  div.container
    h1 Signup
    If you already have a account login 
    a(href="/user/login") here
    form(action="/user/signup" method="POST")
      input#username(name="username" type="text" placeholder=" ")
      label(for="username") Username
      br
      input#password(name="password" type="password" placeholder=" " required)
      label(for="password") Password
      br
      input#submit(type="submit" name="submit" value="Signup")
  script(src="/js/login.js")