#messages {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

#messsage li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { background: #eee; }

.message {
  
}

.author {
  
}
.content {
  
}