#users {
  list-style-type: none; 
}

#messages {
  list-style-type: none; 
  align-items: bottom;
}

#_messages {
  height: 40vh;
  width: 80vh;
  word-wrap: break-word;
  overflow-y: scroll;
}

#messsage li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { background: #eee; }

.container {
  display: flex;
  justify-content: space-between;
}

.right {
  flex-grow: 1;
  padding: 10px;
}

.left {
  flex-grow: 3;
  padding: 10px;
  margin-top: 20px;
}

a {
  float: none;
}